$primary-pink: rgb(207, 51, 217);
$primary-pink-10-opacity: rgba(206, 51, 217, 0.1);
$primary-pink-50-opacity: rgba(206, 51, 217, 0.5);
$secondary-green: #AFCB02;
$secondary-green-10-opacity: #b0cb0242;
$secondary-green-70-opacity: #b0cb02bc;
$background-blue: #172834;
$dark-gray: rgb(44 64 80);
$dark-gray-opacity-pair: rgb(135 137 120 / 9%);